parameters:
	ignoreErrors:
		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 2
			path: ../src/Component/PharUpdate/Exception/Exception.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: ../src/Component/PharUpdate/Manifest.php

		-
			message: "#^Property Deployer\\\\Component\\\\PharUpdate\\\\Update\\:\\:\\$file \\(string\\) does not accept null\\.$#"
			count: 1
			path: ../src/Component/PharUpdate/Update.php

		-
			message: "#^Default value of the parameter \\#2 \\$code \\(string\\) of method Deployer\\\\Support\\\\Changelog\\\\ParseException\\:\\:__construct\\(\\) is incompatible with type int\\.$#"
			count: 1
			path: ../src/Support/Changelog/ParseException.php

