language: php

php:
  - 7.3
  - 7.4

env:
  matrix:
    - COMPOSER_FLAGS="--prefer-lowest"
    - COMPOSER_FLAGS="--prefer-stable"

jobs:
  allow_failures:
    - php: 7.4

cache:
  directories:
    - $HOME/.composer/cache/files

addons:
  apt:
    update: true
    packages:
      - acl

install:
  - composer update --no-interaction --prefer-dist $COMPOSER_FLAGS

script:
  - vendor/bin/phpunit --coverage-clover=coverage.xml

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/3ffa605389816ec39774
    on_success: change
    on_failure: always
    on_start: never
