includes:
    - test/phpstan-baseline.neon

parameters:
    level: 3
    paths:
        - src

    ignoreErrors:
        - "#^Constant DEPLOYER_VERSION not found\\.$#"
        - "#^Constant DEPLOYER_BIN not found\\.$#"
