includes:
    - tests/phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - bin
        - src
        - recipe
        - contrib

    ignoreErrors:
        - "#^Constant DEPLOYER_VERSION not found\\.$#"
        - "#^Constant DEPLOYER_BIN not found\\.$#"
        - "#^Constant MASTER_ENDPOINT not found\\.$#"
        - "#^Constant MASTER_TOKEN not found\\.$#"
        - "#CpanelPhp#"
        - "#AMQPMessage#"
