includes:
    - tests/phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - bin
        - src
        - recipe
        - contrib

    bootstrapFiles:
        - tests/constants.php

    dynamicConstantNames:
        DEPLOYER_VERSION: string
        DEPLOYER_BIN: string
        MASTER_ENDPOINT: string
        MASTER_TOKEN: string

    ignoreErrors:
        - "#^Constant MASTER_ENDPOINT not found\\.$#"
        - "#^Constant MASTER_TOKEN not found\\.$#"
        - "#CpanelPhp#"
        - "#AMQPMessage#"
        - identifier: missingType.iterableValue
        -
            identifier: missingType.generics
            path: src/Component/Pimple/Container.php
