<phpunit bootstrap="test/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnError="false"
         stopOnFailure="false"
         verbose="true"
>
    <testsuites>
        <testsuite name="Source">
            <directory>test/src/</directory>
        </testsuite>
        <testsuite name="Recipe">
            <directory>test/recipe/</directory>
        </testsuite>
        <testsuite name="Misc">
            <directory>test/misc/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>src/</directory>
            <directory>recipe/common.php</directory>
            <directory>recipe/deploy/</directory>
        </whitelist>
    </filter>
</phpunit>
