<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" stopOnError="false" stopOnFailure="false" verbose="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage includeUncoveredFiles="true">
    <include>
      <directory>src/</directory>
      <directory>recipe/</directory>
    </include>
    <exclude>
      <directory suffix=".php">vendor/</directory>
      <directory>bin/</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Src">
      <directory>tests/src/</directory>
    </testsuite>
    <testsuite name="Legacy">
      <directory>tests/legacy/</directory>
    </testsuite>
    <testsuite name="Joy">
      <directory>tests/joy/</directory>
    </testsuite>
  </testsuites>
</phpunit>
