<phpunit bootstrap="test/bootstrap.php">
    <testsuites>
        <testsuite name="Source">
            <directory>test/src/</directory>
        </testsuite>
        <testsuite name="Recipes">
            <directory>test/recipe/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>