parameters:
	ignoreErrors:
		-
			message: "#^Comparison operation \"\\>\" between 100|125|200|100000 and 0 is always true\\.$#"
			count: 1
			path: ../src/Command/BlackjackCommand.php

		-
			message: "#^Else branch is unreachable because previous condition is always true\\.$#"
			count: 1
			path: ../src/Command/BlackjackCommand.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: ../src/Command/BlackjackCommand.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: ../src/Command/BlackjackCommand.php

		-
			message: "#^Comparison operation \"\\>\" between 0 and 0 is always false\\.$#"
			count: 1
			path: ../src/Command/BlackjackCommand.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 2
			path: ../src/Component/PharUpdate/Exception/Exception.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: ../src/Component/PharUpdate/Manifest.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: ../src/Host/Host.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: ../src/Importer/Importer.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: ../src/functions.php

