<ul id="nav" class="nav nav-stacked">
    <li><a href="#introduction">Introduction</a></li>
    <li><a href="#getting-started">Getting Started</a></li>
    <li>
        <a href="#installation">Installation</a>
        <ul class="nav">
            <li><a href="#via-composer">Via Composer</a></li>
            <li><a href="#source-code">Source code</a></li>
        </ul>
    </li>
    <li>
        <a href="#tasks">Tasks</a>
        <ul class="nav">
            <li><a href="#group-tasks">Group tasks</a></li>
            <li><a href="before-and-after">Before and after</a></li>
        </ul>
    </li>
    <li>
        <a href="#servers">Servers</a>
        <ul class="nav">
            <li><a href="#with-username-and-password">With username and password</a></li>
            <li><a href="#with-public-key">With public key</a></li>
            <li><a href="#with-config-file">With config file</a></li>
            <li><a href="#upload-and-download">Upload and download</a></li>
        </ul>
    </li>
    <li><a href="#verbosity">Verbosity</a></li>
    <li><a href="#environment">Environment</a></li>
    <li><a href="#functions">Functions</a></li>
    <li>
        <a href="#recipes">Recipes</a>
        <ul class="nav">
            <li><a href="#common-recipe">Common Recipe</a></li>
            <li><a href="#composer-recipe">Composer Recipe</a></li>
            <li><a href="#symfony-recipe">Symfony Recipe</a></li>
        </ul>
    </li>
    <li><a href="#examples">Examples</a></li>
</ul>