<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Deployer &mdash; {{page.title}}</title>

    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="lib/prism.css">
</head>
<body>
<header>
    <div class="container">
        <h1>Deployer</h1>
        <h2>Deployment Tool for PHP</h2>
        <div class="toolbar">
            <i class="x"></i>
            <i class="minus"></i>
            <i class="plus"></i>
            <img src="images/home.png" alt="">
            Deployer &mdash; 1300x310
        </div>
        <div class="code">
            <div class="console">
                Press enter to submit commands<br>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <ul id="nav" class="nav nav-pills nav-stacked">
                    <li><a href="#introduction">Introduction</a></li>
                    <li><a href="#get-started">Get started</a></li>
                    <li><a href="#installation">Installation</a></li>
                </ul>
            </div>

            <div class="col-md-10">
                {{ content }}
            </div>
        </div>
    </div>
</section>

<script src="lib/jquery.min.js"></script>
<script src="lib/prism.js"></script>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-42432799-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>
