<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Deployer &mdash; {{page.title}}</title>

    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
<header>
    <div class="container">
        <h1>Deployer</h1>
    </div>
</header>
<div class="container">
    {{ content }}
</div>

<script src="lib/jquery.min.js"></script>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-42432799-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>
