<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Deployer &mdash; {{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/lib/prism.css">
</head>
<body>
<a href="https://github.com/elfet/deployer"><img style="position: absolute; top: 0; right: 0; border: 0;"
                                                 src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67"
                                                 alt="Fork me on GitHub"
                                                 data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
<header>
    <div class="container">
        <h1>Deployer</h1>

        <h2>Deployment Tool for PHP</h2>

        <div class="terminal">
            <div class="toolbar">
                <i class="x"></i>
                <i class="minus"></i>
                <i class="plus"></i>
                <img src="assets/img/home.png" alt="">TryDeployer &mdash; 800x300
            </div>
            <div class="code">
                <div class="console">Press enter to submit commands.<br></div>
                <form>
                    <label for="input">&gt;</label>

                    <div class="input">
                        <input type="text" value="" id="input">
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-2 visible-lg-block">
                <ul id="nav" class="nav nav-stacked">
                    <li><a href="#introduction">Introduction</a></li>
                    <li><a href="#getting-started">Getting Started</a></li>
                    <li>
                        <a href="#installation">Installation</a>
                        <ul class="nav">
                            <li><a href="#via-composer">Via Composer</a></li>
                            <li><a href="#source-code">Source code</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#tasks">Tasks</a>
                        <ul class="nav">
                            <li><a href="#group-tasks">Group tasks</a></li>
                            <li><a href="before-and-after">Before and after</a></li>
                            <li><a href="#input-options">Input options</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#servers">Servers</a>
                        <ul class="nav">
                            <li><a href="#with-username-and-password">With username and password</a></li>
                            <li><a href="#with-public-key">With public key</a></li>
                            <li><a href="#with-config-file">With config file</a></li>
                            <li><a href="#with-pem-file">With pem file</a></li>
                            <li><a href="#upload-and-download">Upload and download</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#stages">Stages</a>
                        <ul class="nav">
                            <li><a href="#default-stage">Default stage</a></li>
                            <li><a href="#with-options">Stage specific options</a></li>
                        </ul>
                    </li>
                    <li><a href="#verbosity">Verbosity</a></li>
                    <li><a href="#environment">Environment</a></li>
                    <li><a href="#functions">Functions</a></li>
                    <li>
                        <a href="#recipes">Recipes</a>
                        <ul class="nav">
                            <li><a href="#common-recipe">Common Recipe</a></li>
                            <li><a href="#composer-recipe">Composer Recipe</a></li>
                            <li><a href="#symfony-recipe">Symfony Recipe</a></li>
                        </ul>
                    </li>
                    <li><a href="#examples">Examples</a></li>
                </ul>
                <small>
                    Found a typo? Something is wrong in this documentation?<br>
                    Just <a href="https://github.com/elfet/deployer/edit/gh-pages/index.md">fork and edit</a> it!
                </small>
            </div>

            <div class="col-md-10">
                {{ content }}
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        Project is maintained by <a href="http://github.com/elfet">Elfet</a>
        <span class="pull-right">Hosted on GitHub Pages</span>
    </div>
</footer>

<script src="assets/lib/jquery.min.js"></script>
<script src="assets/lib/autocomplete.js"></script>
<script src="assets/lib/prism.js"></script>
<script src="assets/lib/console.js"></script>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-42432799-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>
