name: test

on:
  push:
    branches: [ master ]
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  unit:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions: [ '7.4' ]
    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          tools: cs2pr, parallel-lint
          extensions: mbstring, intl

      - name: Lint sources
        run: composer exec --no-interaction -- parallel-lint bin/ contrib/ recipe/ src/ tests/ --checkstyle | cs2pr
