name: release

on:
  release:
    types:
      - created

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Get version
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/v}" >> $GITHUB_ENV

      - name: Build phar
        run: php -d phar.readonly=0 bin/build -v"$RELEASE_VERSION"

      - name: Upload phar
        env:
          GH_TOKEN: ${{ github.token }}
        run: gh release upload ${{ github.event.release.tag_name }} deployer.phar

      - name: Add deployer.phar
        run: |
          set -x
          git checkout -b dist
          mv deployer.phar dep
          chmod +x dep
          git add -f dep

      - name: Remove obsolete files & dirs
        run: |
          set -x
          git rm -r .github/ bin/ docs/ tests/ *.lock *.yaml *.xml *.neon

      - name: Update composer.json
        run: |
          set -x
          cat composer.json | jq 'del(.autoload) | del(.scripts) | del(.require) | del(."require-dev") | setpath(["bin"]; "dep")' > composer-new.json
          mv composer-new.json composer.json
          git add composer.json

      - name: Push release tag
        run: |
          set -x
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions"
          git commit -m "Deployer $RELEASE_VERSION"
          git tag "v$RELEASE_VERSION" --force
          git push origin "v$RELEASE_VERSION" --force
